#!/usr/bin/make -f
# Copyright © 2002,2003 Colin Walters <walters@verbum.org>
# Copyright © 2003 Daniel Stone <daniels@debian.org>
# Copyright © 2006 Sjoerd Simons <sjoerd@debian.org>
# Copyright © 2011 Michael Biebl <biebl@debian.org>

%:
	dh $@

export LDFLAGS := $(shell dpkg-buildflags --get LDFLAGS) -Wl,--as-needed

libdbusN := $(shell sed -rn 's/Package:[[:space:]]*(libdbus-[0-9-]+)[[:space:]]*$$/\1/p' debian/control | head -n 1)

override_dh_auto_configure:
	dh_auto_configure -- \
		--enable-xml-docs \
		--enable-doxygen-docs \
		--disable-libaudit \
		--libexecdir=\$${prefix}/lib/dbus-1.0 \
		--htmldir=\$${prefix}/share/doc/dbus-1-doc/html \
		--with-systemdsystemunitdir=/lib/systemd/system

override_dh_auto_build:
	dh_auto_build
	xsltproc -o doc/dbus.devhelp doc/doxygen_to_devhelp.xsl doc/api/xml/index.xml

override_dh_link:
	dh_link -plibdbus-1-dev lib/$$(basename $$(readlink debian/tmp/usr/lib/libdbus-1.so)) usr/lib/libdbus-1.so
	dh_link --remaining-packages

# jquery.js isn't actually used at the moment, and is an embedded code copy
override_dh_install:
	rm -f debian/tmp/usr/share/doc/dbus-1-doc/html/api/jquery.js
	dh_install --list-missing
	install -m 644 -D debian/dbus-Xsession debian/dbus-x11/etc/X11/Xsession.d/75dbus_dbus-launch

override_dh_installinit:
	dh_installinit -pdbus -r -- start 12 2 3 4 5 .

# we don't want docs for the debug symbols, just symlink to the library docs
override_dh_installdocs:
	dh_installdocs -pdbus-1-dbg --link-doc=$(libdbusN)
	dh_installdocs --remaining-packages --all AUTHORS NEWS README

override_dh_strip:
	dh_strip --dbg-package=dbus-1-dbg

override_dh_makeshlibs:
	dh_makeshlibs -V '$(libdbusN) (>= 1.3.1)'

override_dh_auto_clean:
	dh_auto_clean
	rm -f test/data/valid-config-files/session.conf
	rm -f test/data/valid-config-files/system.conf
	rm -f dbus.devhelp


