#!/usr/bin/make -f
# Copyright © 2002,2003 Colin Walters <walters@verbum.org>
# Copyright © 2003 Daniel Stone <daniels@debian.org>
# Copyright © 2006 Sjoerd Simons <sjoerd@debian.org>

include /usr/share/cdbs/1/rules/simple-patchsys.mk
include /usr/share/cdbs/1/rules/utils.mk
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk

# List any files which are not installed
common-binary-post-install-arch:: list-missing

DEB_CONFIGURE_EXTRA_FLAGS += \
	--enable-xml-docs \
	--enable-doxygen-docs \
	--disable-userdb-cache

binary-post-install/dbus-x11::
	mkdir -p debian/dbus-x11/etc/X11/Xsession.d
	cp debian/dbus-Xsession debian/dbus-x11/etc/X11/Xsession.d/75dbus_dbus-launch

build/dbus-1-doc::
	doxygen Doxyfile

clean::
	rm -rf doc/api
	rm -f test/data/valid-config-files/session.conf
	rm -f test/data/valid-config-files/system.conf
	rm -f doc/*.html
